.navbar-container {
    position: fixed; /* Fija el navbar en una posición relativa a la ventana del navegador */
    top: 0;
    left: 0;
    height: 100vh; /* Altura completa */
    width: 300px; /* Ancho del menú lateral */
    background: #f0f0f0; /* Color de fondo */
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* Sombra para dar profundidad */
    display: flex;
    flex-direction: column; /* Organiza verticalmente los elementos */
    padding: 10px;
}

.navbar-logo {
    width: 400%;
    margin: 10px 0;
}

.navbar-input {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.navbar-nav {
    list-style: none;
    padding: 0;
}

.navbar-nav li {
    margin: 10px 0;
}

.navbar-nav li a {
    text-decoration: none;
    color: #333;
    display: block; /* Hace que el enlace llene el espacio del li */
}

.navbar-nav li a:hover {
    background-color: #ddd; /* Cambia el fondo al hacer hover */
}
