/* Estilos globales */
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* Estilos del contenedor principal de la App */
.App {
  display: flex;
  text-align: left;
  height: 100vh; /* Ocupa toda la altura de la ventana */
}

/* Estilos para la barra lateral de navegación */
.sidebar {
  width: 20%;
  background: #f0f0f0;
  padding: 20px;
  overflow-y: auto; /* Añade scroll si es necesario */
}

/* Estilos para la barra de búsqueda de módulos */
.sidebar input {
  width: calc(100% - 40px); /* Resta el padding para un ancho completo */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para la lista de navegación */
.sidebar nav ul {
  list-style-type: none;
  padding-left: 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.sidebar nav ul li a:hover {
  background-color: #ddd;
}

/* Estilos para el área de contenido principal */
.main-content {
  flex-grow: 1; /* Ocupa el espacio restante */
  padding: 20px;
  overflow-y: auto; /* Añade scroll si es necesario */
}

/* Puedes eliminar los estilos de .App-logo y su animación si no los usas */
/* También puedes eliminar los estilos de .App-header y .App-link si no los usas */
